@import url('https://fonts.googleapis.com/css?family=Libre+Bodoni:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Libre Bodoni', serif;
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/* header */
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url('../images/California_291.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}
/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* work */

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Libre Bodoni', serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Libre Bodoni', serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}

#featured{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/Sicily_2022_29.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}
#featured .title h2{
    color: var(--light-color);
}
#featured .title h2::after{
    background-color: var(--light-color);
}
.featured-grid > div{
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}
.featured-grid > div img{
    height: 100%;
    object-fit: cover;
}
.featured-grid > div:hover{
    transform: scale(0.9);
}

/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}


/* Media Queries */

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .featured-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .featured-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .featured-grid > div{
        height: 250px;
    }
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}

/* TEST */

.slideshow { 
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;

  .slideshow-inner { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slides { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .slide { 
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.is-active {
      display: block;
    }

    &.is-loaded{
      opacity: 1;
    }

    .caption { 
      padding: 0 100px;
    }

    .image-container { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      z-index: 1;
      background-size: cover;
      image-rendering: optimizeQuality;

      &::before { 
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);
      }
    }

    .image {
      width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  .pagination { 
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;

    .item { 
      display: inline-block;
      padding: 15px 5px;
      position: relative;
      width: 46px;
      height: 32px;
      cursor: pointer;
      text-indent: -999em;
      z-index: 1;

      + .page {
        margin-left: -2px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: 5px;
        width: 36px;
        height: 2px;
        background: rgba(255, 255, 255, 0.5);
        transition: background 0.2s ease;
      }

      &::after {
        width: 0;
        background: #fff;
        z-index: 2;
        transition: width 0.2s ease;
      }

      &:hover::before,
      &.is-active::before {
        background-color: #fff;
      }
    }
  }

  .arrows {
    .arrow {
      margin: -33px 0 0;padding: 20px;position: absolute;top: 50%;cursor: pointer;z-index: 3;
    }

    .prev {
      left: 30px;

      &:hover .svg {
        left: -10px;
      }
    }

    .next {
      right: 30px;

      &:hover .svg {
        left: 10px;
      }
    }

    .svg {
      position: relative;
      left: 0;
      width: 14px;
      height: 26px;
      fill: #fff;
      transition: left 0.2s ease;
    }
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 10000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: -0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.75s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* NAV BAR */
.topnav {
  overflow: hidden;
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.topnav a {
  float: right;
  display: block;
  color: #2A3846;
  text-align: center;
  padding: 20px 15px;
  padding-top: 2.0em;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

.logo a {
  float: left;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0.2em;
  padding-top: 0.9em;
  padding-bottom: .9em;
}

.active {
  background-color: #f4f4f4;
  color: white;
}

.active a {
  float: left;
}

.topnav .icon {
  display: none;
}


.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f4f4f4;
  color: #829BB4;
}
.logo a:hover {
  background-color: #f4f4f4;
  color: #000000;
}


@media screen and (max-width: 860px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  
  .topnav a.icon {
    float: right;
    padding-top: 0.6em;
    display: block;
  }
}

@media screen and (max-width: 860px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: fixed;
          padding-top: 1.65em;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
